.container.splash-container
  .splash-cover
  
.container.info-container

.container.project-container{ 'data-title' => 'Dawn Blush' }
  .project-content
    .project-header
      %span.project-header-number= '#01'
      %h1.project-header-title= "Project X"
      %h2.project-header-artists= "Jane Doe & John Doe"
    .project-info
      .project-artwork
      .project-details
        %p= "This is a detailed text that describes the collaboration."
      
      
.container.project-container{ 'data-title' => 'Dawn Blush' }
  .project-content
    .project-header
      %span.project-header-number= '#02'
      %h1.project-header-title= "Project Y"
      %h2.project-header-artists= "Zeeraw & Dawn Blush"
    .project-info
      .project-artwork
      .project-details
        %p= "This is a detailed text that describes the collaboration."


.container.project-container{ 'data-title' => 'Dawn Blush' }
  .project-content
    .project-header
      %span.project-header-number= '#03'
      %h1.project-header-title= "PhillyPU & Obelion"
      %h2.project-header-artists= "Jane Doe & John Doe"
    .project-info
      .project-artwork
      .project-details
        %p= "This is a detailed text that describes the collaboration."

%a.trigger.trigger-up{ href: '#' }
%a.trigger.trigger-down{ href: '#' }